*{
    margin: 0px;
    font-family: "Nunito";
}

#titulosuperior{
    margin-left: 50px;
    padding-top: 150px;
    font-size: 75px;
    letter-spacing: -1.5px;
}

#textosuperior{
    margin-left: 50px;
    margin-top: 35px;
    padding-bottom: 150px;
    font-size: 25px;
    letter-spacing: 0px;
}


@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

#menusuperior{
    background-color: aliceblue;
    color: black;
}

#menuinformativo{
    background-color: aliceblue;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.textoinformativo{
    display: grid;
    align-items: center;
    font-size: 40px;
    font-weight: bolder;
    padding: 75px;
    margin-left: 20px;
}

.spaninformativo{
    font-size: 20px;
    font-weight: normal;
}

#menuconteudo{
    background-color: #ffffff;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

#image{
    margin:100px 25px 100px 100px;
}

#textoconteudo{
    text-align: justify;
    font-size: 40px;
    font-weight: bolder;
    margin: 260px 25px 50px 100px;
}

#image, #textoconteudo, #formulario{
    visibility: hidden;
}

#spanconteudo{
    text-align: justify;
    font-size: 24px;
    font-weight: normal;
}

#formilario{
    background-color: #ffffff;
    text-align: center;
}

#tituloformulario{
    font-size: 32px;
    padding: 70px 70px 20px 70px;
    color: black;
}

input{
    width: 400px;
    height: 60px;
    background-color: aqua;
    margin: 25px;
    border: 1px;
    border-radius: 10px;
    padding-left: 10px;
}

button{
    background-color: #c07212;
    height: 70px;
    width: 220px;
    color: #eaece5;
    border: 0px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 100px;
    font-weight: bolder;
    font-size: 30px;
    cursor: pointer;
}

button.hover{
    backgroud-color: #f88e0c;
    color: white;
    transform: translatY(-3px);
    box-shadow: 0px 10px 15px #f1bd73;
    transition-duration: 0.3s;
}
